* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: rgb(13, 26, 45);
}
img {
  width: 300px;
  padding: 25px;
  border-radius: 35px;
}
.nft {
  position: absolute;
  inset: 0;
  margin: auto;
  max-width: 349px;
  min-width: 349px;
  height: 594px;
  background-color: rgb(21, 39, 63);
  border-radius: 15px;
  box-shadow: 0 20px 50px 10px rgb(12, 23, 41);
}

h3 {
  color: white;
  margin-left: 27px;
  font-weight: 500;
  font-size: 23px;
}
p {
  color: rgb(143, 163, 190);
  padding: 23px 25px;
  font-size: 19px;
  line-height: 1.6;
  font-weight: 200;
  margin-top: -10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ethereum-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
  padding: 0 10px;
}
.ethereum1,
.ethereum2 {
  margin-top: -20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.eth1 {
  color: #00fff8;
  font-weight: 300;
}
.eth2 {
  color: #8bacd9;
  font-weight: 300;
}
.eth1,
.eth2 {
  font-size: 18px;
}

.ethereum1 img {
  width: 12px;
  margin-right: -45px;
  margin-top: -10px;
}
.ethereum2 img {
  width: 20px;
  margin-right: -45px;
  margin-top: -10px;
}

hr {
  border: none;
  background-color: #6784ac;
  height: 1px;
  width: 85%;
  margin-top: -5px;
  margin-left: 28px;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0;
  padding: 0;
}
.profile {
  padding: 15px 29px;
}
.profile p {
  margin-top: -60px;
  margin-left: 25px;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.special{
  color: #E5F3FF;
}