:root {
    --primary-font: "Josefin Sans", sans-serif;
    --primary-color-1: #08c5ff;
    --primary-color-2: #ffff;
    --primary-color-3: #000000;
    --primary-color-4: #1A1A1A;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    background-color: var(--primary-color-2);
    background-size: cover;
    background-position: absolute;
    min-height: 100vh;
}


/* ---------------- navbar ------------------ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    padding-top: 2rem;
    background-color: var(--primary-color-3);
    color: var(--primary-color-2);
    transition: all 0.3s ease;
    position: fixed;
    gap: 10rem;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}

.logo {
    cursor: pointer;
}

.logo h1 {
    color: var(--primary-color-1);
    font-size: 40px;
}

.logo span {
    color: var(--primary-color-2);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: var(--primary-color-2);
    font-size: 17px;
    transition: all 0.2s ease-in-out;
}

ul li a:hover {
    color: var(--primary-color-1);
}

button {
    background-color: var(--primary-color-3);
    padding: 11px 2rem;
    border-radius: 1000px;
    border: 2px solid var(--primary-color-1);
    color: var(--primary-color-2);
    font-size: 1rem;
    font-size: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
}




/* ------------- section-1 | Intro ------------------ */

.section-1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color-3);
    padding-left: 2rem;
}

.section-1 img {
    width: 490px;
    border-radius: 1000px;
}

.intro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.greeting {
    color: var(--primary-color-2);
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    word-spacing: 1px;
}

.intro h1 {
    color: var(--primary-color-1);
    font-size: 3.8rem;

}

.intro span {
    color: var(--primary-color-2);
}

.title {
    font-size: 1.4rem;
    font-weight: 300;
}




/* ---------------- section-2 | About Me ------------------ */
.section-2 {
    min-height: 100vh;
    background-color: var(--primary-color-4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 8rem;

}

.section-2 img {
    height: 500px;
    border: 2px solid var(--primary-color-1);
    border-radius: 54% 46% 74% 26% / 56% 33% 67% 44%;
}


.about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-color-2);
    gap: 1rem;
    align-items: flex-start;
}

.about-me h1 {
    font-size: 3.5rem;
}

.about-me span {
    font-size: 1.6rem;
}

.about-me h1 span {
    gap: 4rem;
}

.about-me p {
    width: 550px;
    line-height: 1.7;
    font-weight: 300;
    opacity: 0.9;
    font-size: 16px;
}

.colored-text {
    color: var(--primary-color-1);
}

.about-me button {
    padding-inline: 1.5rem;
    margin-top: 1rem;
}




/* ---------------- section-3 | Portfolio ------------------ */

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    height: 100vh;
    background-color: var(--primary-color-3);
    color: var(--primary-color-2);
}

.portfolio-title {
    font-size: 3.5rem;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    transition: all 0.3s ease-in-out;

}

.box {
    background-color: var(--primary-color-4);
    border-radius: 13px;
    min-width: 380px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}



.box:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 10px 5px rgba(8, 197, 255, 0.5);

}

.box img {
    width: 80px;
    display: flex;
    filter:
        brightness(0.7)
        /* Adjust lightness */
        sepia(1)
        /* Base for colorization */
        hue-rotate(160deg)
        /* Shift to blue-cyan */
        saturate(4)
        /* Boost color intensity */
        contrast(1.2);
    /* Improve clarity */

}

.box h1 {
    color: var(--primary-color-2);
    font-size: 1.7rem;
}

.box p {
    width: 300px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    opacity: 0.8;
}

.box-button {
    padding-inline: 1.4rem;
    margin-top: 10px;
    background-color: var(--primary-color-4);
}


/* ---------------- section-4 | Contact Me ------------------ */

.section-4 {
    height: 100vh;
    background-color: var(--primary-color-4);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.social-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.contact-form {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
}

form input {
    min-width: 600px;
    min-height: 50px;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--primary-color-3);
    border: none;
    border-radius: 7px;
}

textarea {
    width: 600px;
    height: 200px;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--primary-color-3);
    border: none;
    border-radius: 7px;
}

.social-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
}

.social-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.social-links img {
    width: 50px;
    padding: 5px;  
    border-radius: 1000px;
    transition: all 0.3s ease-in-out;
    background-color:rgb(216, 216, 216);
}

.social-links img:hover {
    background-color: var(--primary-color-1);
}

.main-social {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.main-social img {
   background-color: var(--primary-color-1);
   border-radius: 1000px;
   padding: 5px;
   width: 1rem;
}

.main-social p {
    color: var(--primary-color-2);
    opacity: 0.8;
    font-weight: 300;
    font-size: 17px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-info img {
    width: 40px;
}

.contact-title {
    font-size: 3.5rem;
    color: var(--primary-color-2);
}



footer {
    background-color: rgb(0, 0, 0);
    height: 7vh;
    color: var(--primary-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    opacity: 0.7;
}










/* ---------------- scroll-bar ------------------ */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color-3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color-1);
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

